<header class="header">
  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a routerLink="/" class="navbar-item">
          <span  class="task-tracker">TaskTracker</span>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button routerLink="/login" class="button is-light">Log in</button>
            <button routerLink="/signup" class="button is-primary">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>