<div class="signup-container">
  <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
  <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="user.username" name="username" required #username="ngModel">
        <div *ngIf="username.invalid && username.touched" class="error-message">
          <span *ngIf="username.errors?.['required']" class="error-text">Username is required.</span>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left">
        <input class="input" type="email" [(ngModel)]="user.email" name="email" required email #email="ngModel">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <div *ngIf="email.invalid && email.touched" class="error-message">
          <span *ngIf="email.errors?.['required']" class="error-text">Email is required.</span>
          <span *ngIf="email.errors?.['email']" class="error-text">Invalid email format.</span>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left">
        <input class="input" type="password" [(ngModel)]="user.password" name="password" required minlength="6" #password="ngModel">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <div *ngIf="password.invalid && password.touched" class="error-message">
          <span *ngIf="password.errors?.['required']" class="error-text">Password is required.</span>
          <span *ngIf="password.errors?.['minlength']" class="error-text">Password must be at least 6 characters.</span>
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage" class="error-message error-text">{{ errorMessage }}</div>
    <button class="button is-primary" type="submit" [disabled]="signUpForm.invalid">Sign up</button>
  </form>
</div>
