<tmb-header></tmb-header>
<header class="header">
  <h3 class="title">Welcome to your Task Management Board!</h3>
</header>
<tmb-task-status-chart [tasks]="(tasks$ | async) ?? []"></tmb-task-status-chart>

<main *ngIf="isTaskPage">
  <div class="container">
    <div class="button-container">
      <button class="load-tasks-button" mat-raised-button color="accent" (click)="addMockTasks()">
        <h5 class="title">Load Mock Tasks</h5>
      </button>
      <button class="clear-tasks-button" mat-raised-button color="accent" (click)="clearTasks()">
        <h5 class="title">Clear Tasks</h5>
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
